html,
body {
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: rgb(115, 117, 255);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            margin-top: 10px;
            p {
                font-size: 15px;
                align-items: center;
                margin-top: auto;
            }
            img {
                width: 80px;
            }
        }
        nav {
            ul {
                list-style-type: none;
                display: flex;
                li {
                    margin-left: 20px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.name-project {
    background-color: bisque;
    margin: auto;
    padding: 20px 0px;
    h1 {
        color: rgb(2, 98, 177);
        margin: auto;
        text-align: center;
        font-weight: normal;
        font-size: 35px;
        position: relative;
        border-radius: 5px;
    }
}

.upload_part {
    margin: auto;
    text-align: center;
    p {
        color: navy;
    }
    .show-image {
        img {
            width: 250px;
        }
    }
}

.upload_button {
    background-color: #ce2828;
    color: black;
    margin-top: 20px;
    padding: 15px 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);
    cursor: pointer;
}

footer {
    background-color: rgb(115, 117, 255);
    .container {
        .footer-fix {
            p {
                color: rgb(10, 1, 1);
                text-align: center;
                margin: auto;
                padding: 10px;
            }
        }
    }
}

.banner {
    padding-bottom: 500px;  
    margin-top: 30px;
    text-align: center;
    .container {
        .image-result {
            .gallery {
                margin: 5px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
                img {
                    width: 100%;
                    height: auto;
                }
                .desc {
                    padding: 15px;
                    text-align: center;
                }
            }
        }
    }
}